<!doctype html>
<html lang="en">
  <body>
    <h1>Books</h1>
    <!-- <div>Hello W  ljkhjkorld</div> -->
    <div>
      <h2>get all books</h2>
      <form action="/getBooks", method="GET">
        <!-- id: <input type="text" name="bid"><br> -->
        <input type="submit" value="view all books">
      </form>
    </div>
    <div>
      <h2>get a book</h2>
      <form action="/getBook", method="GET">
        id: <input type="text" name="bid"><br>
        <input type="submit" value="submit">
      </form>
    </div>
    
  </body>
</html>